header, section, footer, aside, nav, article {
    display:block;
}
html {
    height: 100%;

}
* {
    margin: 0;
    padding: 0;
    outline: none;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    width: 100%;
}
header {

    height: 120px;


    border-style: none;
    background-repeat: no-repeat;
    background-position: 0% 0, 30% 0, 100% 0;
    width: 100%;



}
.breadcrumbs > li + li:before {
    color: #cccccc;
    content: "/";
    padding: 0 5px;

}
#logo{
    height: 100%;
    width: 100%;
    float: left;
    background-color: rgb(237, 255, 202);
}
#phone{
    background-image: url(img/fe4a5cbf.jpg);
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 100%;


}
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(112,146,190);
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#v-menu{
    float:left;
    width:100%;

    list-style:none;
    margin-bottom:10px;

}
#v-menu li{
    float:left;
    margin-right:10px;
    position:relative;
    display:block;
    height: 100%;


}
#v-menu li a,.menus:link{
    color: black;
}
#v-menu li a,.menus:visited

{
    color: black;
}
#v-menu li a{
    display:block;
    padding:5px;
    padding-top: 10px;

    background:rgb(112,146,190);
    text-decoration:none;

}
#v-menu li a:hover{
    background:rgba(112,146,190,0.75); /* Выглядит полупрозрачным */
    height: 35px;
    z-index: 1000;

}
#v-menu li a,.menus:visited{
    color: black;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#v-menu ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#v-menu ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;

}
#v-menu ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;

}
#v-menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}
#v-menu li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:#6b0c36;
    background:rgba(176,208,210,0.75); /* Выглядит полупрозрачным */
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:#333;
    background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}

.menu{
    width: 14%;
    height: 50px;
    background-color: rgb(112,146,190);

    margin-left: auto;
    margin-right: auto;


    float:left;
}

article{
    float: left;
    width: 70%;
    height: 100%;
}
#basket_S{
    width: 15%;
    height: 80px;
    background-color: rgb(211, 225, 231);
    right: 1%;

    margin-bottom: 20px;
    position: fixed;
    z-index: 10000;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#basket_kol{
    display: none;
}
.residue{
    width: 30%;



}
#residue_znach
{
    margin-top: -17px;
    margin-left: 27%;



}
.minus, .plus{
    cursor: pointer;
    width:10px;
    height:10px;
    border-radius:4px;
    padding:1px 2px 2px 1px;
    border:1px solid #ddd;

}
.plus{
    background-color: mediumseagreen;

}
.minus{
    background-color: crimson;

}
#number_kol{
    -webkit-user-select: text;  /* Chrome all / Safari all */
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;
}
.prop_naz_b{
    width: 30%;
}
#basket_url{
    margin-left: 15%;
    margin-right: 15%;


    width: 90%;
}

.prop_tov_b{
    margin-left: 80%;
    color: darkslategrey;
    margin-top: -30%;
    margin-bottom: 12%;


}
#naz_pro_b{

    float: left;
    width: 20%;
}

.basket_block{
    width: 97%;
    height: 200px;
    background-color: rgb(211, 225, 231);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
.basket_tov_name{
    width: 30%;
    padding-top: 5%;
    color: #ffe7b7;
    float: left;
    text-shadow:2px 2px 4px rgba(0,0,0,0.7);
}
.property_basket{
    width: 30%;
    padding-top:10%;
    float: left;
    margin-left: -30%;

}
.property_basket_zen{
    width: 30%;
    padding-top:5%;
    float: left;

}
.property_basket_kol{
    width: 30%;
    padding-top:5%;
    float: left;
}
.property_basket_del{

    padding-top:5%;

}
.imgbasket{
    width: 20%;
    padding-top: 5%;
    padding-bottom: 1%;
    padding-left: 1%;
    float: left;
    display: inline-block;
}
.imgbasket img{
    display: block;
    width:140px;
    height:140px;
    border: 10px solid powderblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


#basket{
    text-align: center;

    position: absolute;

    margin-left:40%;
    margin-top: 15%;
}

.glav_pun{
    background-color: lightskyblue;
    height: 30px;
    width: 250px;
    text-align: center;
    margin-left: 20px;
    margin-bottom: 5px;
    display:block;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);

}
.podpun{
    background-color: lightgray;
    height: 30px;
    width: 250px;
    text-align: center;
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;

}
#cartfon{
    width: 90%;
    height: 350px;
    background-color: rgb(200,191,231);
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 20px;
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#imgcart{
    width: 40%;
    padding-top: 20px;
    display: inline-block;

}
#imgcart img{
    margin-left: 10%;
    margin-right: 60%;
    top: 20px;
    margin-bottom: 10px;
    display: block;
    width:180px;
    height:180px;
    border: 10px solid powderblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
#char{
    width: 40%;

    margin-left: 15px;
    margin-right: 10px;




    padding-bottom: 10px;
}
#char_s{
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
    width: 100%;
}

#naz_cart{
    float: left;
    margin-left: 15px;
    margin-right: 10px;

}
#naz_cart_b{
    float: left;
    margin-left: 15px;
    margin-right: 10px;
    width: 40%;

}
#contcart{
    width: 45%;
    display: inline-block;

}
#price_cart{
    display: inline-block;
    margin-left:27%;
    padding-top: 12%;

    position: absolute;
    width: 20%;

}
.prop_naz_sk{
    float: left;


}
.prop_tov_sk{
    display: inline-block;
    padding-left: 2%;
    color: darkslategrey;
}
#skald{
    display: inline-block;
    position: absolute;
    margin-top: 12%;
    margin-left: 25%;
    width: 20%;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}
.prop_naz_cart{
  float: left;
}
.prop_cart{
    display: inline-block;
    padding-left: 2%;


    color: darkslategrey;
}
#opisanie{
    margin-top: 20px;
    width: 38%;
    display: inline-block;
    position: absolute;

}
h3{


}
#knop{
    text-align: center;
    font-size: 40px;
    position: absolute;

    margin-left:27%;
    padding-top: 15%;

}
#but{
    width: 70px;
    height: 30px;
    background-color: rgb(121,169,189);
}
.section{
    margin-left: 20px;
    margin-right: auto;

    display: block;
}
.tov{
    width: 30%;
    height: 345px;
    background-color: rgb(200,191,231);
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    float:left;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);

}
.url_buy{
    width: 100%;
    margin-left: 37%;
    margin-left: 37%;

}
h2{
    margin-bottom: 10px;
    margin-top: 10px;
}
.naz{
    float: left;
    margin-left: 15px;
    margin-right: 10px;
}
.prop_tov{
    margin-left: 15px;
    color: darkslategrey;
}
.prop_tov_name{
    text-align: center;
    color: wheat;
    text-shadow:2px 2px 4px rgba(0,0,0,0.7);
}
.imgtov img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    width:180px;
    height:180px;
    border: 10px solid powderblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
aside{
    width: 30%;
    height: 100%;

    background-color: rgb(255,255,255);
    margin-right: 0;
    margin-left: auto;

}
.brand{
    background-color: lightgray;
    height: 30px;
    width: 250px;
    text-align: center;
    display: block;
    margin-top: 10px;


}
#poisk{
    margin-top: 20px;


}
#seti{
    margin: 0;
    height: 35px;
}

#v-menu{
    margin: 0;
    padding: 0;
    list-style: none;

}

.srch{
    height: 30px;
}
#vibseti{
    margin: 0;
    padding: 0;
    list-style: none;
}
#seti ul li{
    width: 35px;
    height: 35px;
    margin-right: 5px;
    float: left;
}
.soc{
    background-color: lightblue;
    background-position-x: 0px;
    background-position-y: 0px;
    float: left;
    right: 5px;
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;


}


h5{
    margin: 20px 0px 0px;


}
h6{
    margin: 20px 0px 0px;


}
#rassilka{
    margin: 20px 0px 0px;
}
#podkn{
    margin: 10px 0px 0px;
}
a,.info-box:link{
    color: black;
}
a,.info-box:visited{
    color: black;
}
#img1{
    border-radius: 50%;
    float: left;
    margin-left: auto;
    margin-right: 4px;
    margin-top: 5px;
    background: url(../img/011.png) cornflowerblue;
    height: 35px;
    width: 35px;
}
.info-content{
    margin: 10px 0 0 35px;
}

#wrapper {


}
#menu1{
    float: left;
    padding-left: 0;
    width: 60%;
}
#menu2{
    float: right;
    padding-right: 0;


}


#rabfon{

}
#panel1{
    float: left;
}
#panel2{

    margin-left: 25%;
    padding-left: 10%;

}
#menuSort{


}
.workarea{
    display: flex;
    height: 100%;
    min-height: 100%;



}
.fill {


}
.clear {
    clear:both;
    height:0px;
}


nav{
    width: 100%;
    height: 50px;
    background-color: rgb(112,146,190);
    display: block;
    margin-left: auto;
    margin-right: auto;

}
#v-menu{
    height: 100%;
    float:left;
    width:100%;
    list-style:none;
    margin-bottom:10px;

}
#v-menu li{

    float:left;
    margin-right:10px;
    text-align: center;
    position:relative;
    display:block;
    height: 100%;


}
#v-menu li a,.menus:link{
    color: black;

}
#v-menu li a,.menus:visited
{

    color: black;
}
#v-menu li a{
    display:block;
    padding:5px;
    padding-top: 10px;

    background:rgb(112,146,190);
    text-decoration:none;

}
#v-menu li a:hover{
    background:rgba(112,146,190,0.75); /* Выглядит полупрозрачным */
    height: 50px;
    z-index: 1000;


}
#v-menu li a,.menus:visited{
    color: black;
}
/*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/
#v-menu ul{
    z-index: 10000;
    list-style:none;
    position:absolute;
    left:-9999px; /* Скрываем за экраном, когда не нужно (данный метод лучше, чем display:none;) */
    opacity:0; /* Устанавливаем начальное состояние прозрачности */
    -webkit-transition:0.25s linear opacity; /* В Webkit выпадающие пункты будут проявляться */
}
#v-menu ul li{
    padding-top:1px; /* Вводим отступ между li чтобы создать иллюзию разделенных пунктов меню */
    float:none;

}
#v-menu ul a{
    white-space:nowrap; /* Останавливаем перенос текста и создаем многострочный выпадающий пункт */
    display:block;

}
#v-menu li:hover ul{ /* Выводим выпадающий пункт при наведении курсора */
    left:0; /* Приносим его обратно на экран, когда нужно */
    opacity:1; /* Делаем непрозрачным */
}
#v-menu li:hover a{ /* Устанавливаем стили для верхнего уровня, когда выводится выпадающий список */
    background:#6b0c36;
    background:rgba(176,208,210,0.75); /* Выглядит полупрозрачным */
}
#nav li:hover ul a{ /* Изменяем некоторые стили верхнего уровня при выводе выпадающего пункта */
    text-decoration:none;
    -webkit-transition:-webkit-transform 0.075s linear;
}
#nav li:hover ul li a:hover{ /* Устанавливаем стили для выпадающих пунктов, когда курсор наводится на конкретный пункт */
    background:#333;
    background:rgba(51,51,51,0.75); /* Будет полупрозрачным */
    text-decoration:underline;
    -moz-transform:scale(1.05);
    -webkit-transform:scale(1.05);
}

.menu{
    width: 14%;
    height: 50px;
    background-color: rgb(112,146,190);

    margin-left: auto;
    margin-right: auto;


    float:left;
}
.filmenu li a:hover{
    background-color: rgb(224, 255, 255);
}
#content {
    width: 80%;
    margin-top: 0 ;
}
#catalog {
    width: 10%;
    margin-top: 0;
}
#filter {
    width: 10%;

}
footer{
    background-color: rgb(41,45,45);
    height: 300px;
    width: 100%;
    margin-top: 400px;




}
@media screen and (max-device-width: 320px) and (orientation: portrait){
    html, body {

        width: 320px;
        max-width: 100%;



    }

    #wrapper{
        width: 320px;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;



    }
    #firstcreen{
        width: 320px;




        margin-left: auto;
        margin-right: auto;

    }
    header{
        height: 30px;
        width: 100%;
        max-width: 320px;

    }
    #logo{
        width: 100%;
        min-width: 100%;
        float: none;
        height: 30px;
    }
    #phone{
        display: none;
    }
    #vremy{
        display: none;

    }
    #reg{
        display: none;
    }


    nav{
        height: 132px;

    }

    #v-menu{
        float: none;
        width:100%;
    }
    #v-menu li{
        float:none;
    }

    #v-menu{
        float:left;
        width:100%;
        list-style:none;
        margin-bottom:10px;

    }
    #v-menu li{
        float:none;
        display:block;
        width: 100%;
        height: 100%;


    }

    #v-menu li a,.menus:link{
        color: black;
    }
    #v-menu li a,.menus:visited{
        color: black;
    }
    #v-menu li a{
        display:block;
        padding:5px;
        padding-top: 10px;

        background:rgb(112,146,190);
        text-decoration:none;

    }
    #v-menu li a:hover{
        background:rgba(112,146,190,0.75); /* Выглядит полупрозрачным */
        height: 35px;
        z-index: 1000;

    }
    #v-menu li a,.menus:visited{
        color: black;
    }


    /*--- ВЫПАДАЮЩИЕ ПУНКТЫ ---*/

    #v-menu ul li{
        float:left;
    }

    .menu{
        width: 14%;
        margin-left: auto;
        margin-right: auto;
        float:none;
    }

    article{


        width: 75%;
        height: 100%;
        float: left;
        display: block;
        background-color: rgb(255,255,255);

    }
    #trendi{

        width: 100%;

    }
    .tov{
        width: 90%;
        height: 315px;
        background-color: rgb(200,191,231);
        margin-left: 10px;
        margin-right: 20px;
        margin-bottom: 20px;
        float:left;

    }
    aside{
        width: 25%;
        height: 100%;
        background-color: rgb(255,255,255);

        display: block;
    }

    #poisk{



    }
    #seti{
        display: none;
    }

    #v-menu{
        margin: 0;
        padding: 0;
        list-style: none;

    }

    .srch{
        height: 30px;
        width: 70px;



    }
    #vibseti{
        display: none;
    }
    #seti ul li{
        display: none;
    }
    .soc{
        display: none;
    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;


    }


    h5{
        display: none;


    }
    h6{
        display: none;


    }
    #rassilka{
        display: none;
    }
    #podkn{
        display: none;
    }
    a,.info-box:link{
        display: none;
    }
    a,.info-box:visited{
        display: none;
    }
    #img1{
        display: none;
    }
    .info-content{
        display: none;
    }
    footer{
        background-color: rgb(41,45,45);
        height: 300px;
        width: 100%;
        display: block;
        clear: left;
        position: absolute;

    }
    #kont{
        height: 20%;
        width:100%;
        background-color: rgb(31,73,106);
    }
    #niz{

        width: 100%;

    }




}
