<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Сайт</title>
</head>
<body>
    <div id="wrapper">
        <div id="firstcreen">
            <header>
                <div id="logo">

                </div>
                <div id="phone">

                </div>
                <div id="vremy">

                </div>
                <div id="reg">

                </div>
            </header>
            <nav>
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>
                <div class="menu"></div>


            </nav>
            <article>
                <div id="trendi">
                    <div class="tovar"></div>

                </div>
                <div id="novosti">
                    <div id="1" class="novost"></div>
                    <div id="2" class="novost"></div>
                    <div id="3" class="novost"></div>

                </div>



            </article>
            <aside>
                <div id="poisk">

                </div>
                <div id="socseti"></div>
                <div id="podpiska"></div>
                <div id="reklama"></div>
                <div id="tweets"></div>
                <div id="info"></div>
            </aside>
        </div>



    </div>
    <footer>
        <div id="kont">


        </div>
        <div id="ssilki">

        </div>
        <div id="niz">
            <div id="komp">

            </div>
            <div id="naverh">

            </div>


        </div>

    </footer>



</body>
</html>