<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Сайт</title>
</head>
<body>
    <div id="wrapper">
        <div id="firstcreen">
            <header>
                <div id="logo">

                </div>
                <div id="phone">

                </div>
                <div id="vremy">

                </div>
                <div id="reg">

                </div>
            </header>
            <nav>
                <ul id="v-menu">
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>
                    <li class="menu"> jiorle</li>



                </ul>



            </nav>
            <article>
                <div id="trendi">
                    <h2>Тренды сезона</h2>

                    <div class="tov">

                    </div>
                    <div class="tov">

                    </div>
                    <div class="tov">

                    </div>

                </div>
                <div id="novosti">
                    <div id="1" class="novost"></div>
                    <div id="2" class="novost"></div>
                    <div id="3" class="novost"></div>

                </div>



            </article>
            <aside>
                <div id="poisk">
                    <form >
                        <input type="search" class="srch" placeholder="Поиск по сайту">
                        <input type="submit" class="srch" value="Найти">

                    </form>
                </div>

                <div id="socseti">
                    <h5>МЫ В СОЦСЕТЯХ</h5>
                    <div id="seti">
                        <ul id="vibseti">
                            <li >
                                <a target="_blank" class="soc" href="/"> hjfhtr</a>
                            </li>
                            <li>
                                <a target="_blank" class="soc" href="/"> hjfhtr</a>
                            </li>
                            <li>
                                <a target="_blank" class="soc" href="/"> hjfhtr</a>
                            </li>
                            <li>
                                <a target="_blank" class="soc" href="/"> hjfhtr</a>
                            </li>
                            <li>
                                <a target="_blank" class="soc" href="/"> hjfhtr</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div id="podpiska">
                    <h6>РАССЫЛКА</h6>
                    <form id="rassilka">
                        <div>
                            <input type="email" placeholder="Введите ваш e-mail">
                        </div>
                        <div>
                            <button id="podkn">Подписаться</button>
                        </div>

                    </form>

                </div>
                <div id="reklama"></div>
                <div id="tweets"></div>
                <div id="info"></div>
            </aside>
        </div>



    </div>
    <footer>
        <div id="kont">


        </div>
        <div id="ssilki">

        </div>
        <div id="niz">
            <div id="komp">

            </div>
            <div id="naverh">

            </div>


        </div>

    </footer>



</body>
</html>